[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langgraph = "*"
chromadb = "*"
langchain-ollama = "*"
ddgs = "*"
[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
